<%= render "shared/header" %>
<br>

<%= form_with url: "/librarys", method: :post, local: true do |f| %>

    <div class="container">
      <div class="row">
        <div class="border col-5">

          <br>
          <h1>カード情報登録</h1>
          <br>

            <div class="field">
              <%= f.label :card_name, "カード名" %><br />
              <%= f.text_field :card_name, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :color, "色" %><br />
              <%= f.text_field :color, class: :form__text, id:"prototype_concept", class: "form-control"%>
            </div>

            <div class="field">
              <%= f.label :manacost, "マナコスト" %><br />
              <%= f.text_field :manacost, class: :title, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :card_text, "カードテキスト" %><br />
              <%= f.text_area :card_text, class: :form__text, class: "form-control"%>
            </div>

            <div class="field">
              <%= f.label :color, "パワー" %><br />
              <%= f.text_field :color, class: :form__text, class: "form-control"%>
            </div>

            <div class="field">
              <%= f.label :color, "タフネス" %><br />
              <%= f.text_field :color, class: :form__text, class: "form-control"%>
            </div>

            <div class="field">
              <%= f.label :image, "カード画像" %><br />
              <%= f.file_field :image %>
            </div>
            

            <div class="actions">
              <%= f.submit "保存する", class: :form__btn  %>
            </div>
        </div>
      </div>
    </div>
<% end %>