<%= render "shared/header" %>
<main class="main">
  <div class="inner">
      <p class="library_hedding">
      </p>
    <div class="library_wrapper">
      <div class="library_image">
       <%= image_tag @library.image %>
      </div>
      <div class="library_body">
        <div class="library_detail">
          <p class="detail__title">カード名</p>
          <p class="detail__message">
            <%= @library.card_name %>
          </p>
        </div>
        <div class="library_detail">
          <p class="detail__title">マナコスト</p>
          <p class="detail__message">
            <%= @library.manacost %>
          </p>
        </div>
        <div class="library_detail">
          <p class="detail__title">色</p>
          <p class="detail__message">
            <%= @library.color %>
          </p>
        </div>
        <div class="library_detail">
          <p class="detail__message">
            <%= @library.card_type %>
          </p>
        </div>
        <div class="library_detail">
          <p class="detail__title">パワー</p>
          <p class="detail__message">
            <%= @library.power %>
          </p>
        </div>
        <div class="library_detail">
          <p class="detail__title">タフネス</p>
          <p class="detail__message">
            <%= @library.toughness %>
          </p>
        </div>
      </div>
    </div>
    <div class="library_manage">
        <% if current_user == @library.user%>
           <%= link_to "編集する", edit_library_path(@library), class: :prototype__btn %>
           <%= link_to "削除する", library_path(@library), method: :delete, class: :prototype__btn %>
        <% end %>
      </div>
  </div>
</main>
<%= render "shared/footer"%>