<%= render "shared/header" %>
<main class="main">
  <div class="inner">
      <p class="library_hedding">
      </p>
    <div class="library_wrapper">
      <div class="library_image">
       <%= image_tag @library.image, class: "show-image" %>
      </div>
      
        <div class="library_detail">
          <p class="detail__title">カードタイプ</p>
          <p class="detail__message">
            <%= @library.card_type %>
          </p>
        </div>
        <div class="library_detail">
          <p class="detail__title">数値</p>
          <p class="detail__message">
            <%= @library.numbers %>

          </p>
        </div>
      </div>
    </div>
    <div class="library_manage">
        <% if current_user == @library.user%>
           <%= link_to "編集する", edit_library_path(@library), class: "detail_title_btn" %>
           <%= link_to "削除する", library_path(@library), method: :delete, class: "detail_title_btn" %>
        <% end %>
    </div>
  </div>
</main>
<%= render "shared/footer"%>