<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Random:5cards", root_path, class: "navbar-brand" %>
    <%= link_to "Randam:all", root_path, class: "navbar-brand" %>
  
  </div>
        <% if user_signed_in? %>
         <br>
         <div>
             <span><%= current_user.player_name %>
             <div class= "text-right">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark btn-lg" %>
             </div>
          </span>
         </div>
        <% else %>
               <div classs= "float-right">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark btn-lg" %>
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-dark btn-lg" %>
               </div>
        <% end %>
</nav>